<suite name="Orange HRM Automation" parallel ="classes" thread-count="2">
	<listeners>
		<listener class-name="com.jayant.orangehrm.listener.Listener">
		</listener>
	</listeners>
	<test name="OrangeHRM tests">
		<classes>
		<class name="com.jayant.orangehrm.tests.LoginDDTTest"></class>
			<class name="com.jayant.orangehrm.tests.AdminTest"></class>
		</classes>
	</test>
</suite> 